<h3>Matt's Financial Dashboard</h3>
    <h4 align="center">Tests</h4>
<p align="center">
<br>Savings size: <%= @savings.count %>
<br>Debts size: <%= @debts.count %>
<br>Net worth size: <%= @networth.count %>
<br>Accounts size:	<%= @accounts.count %>
<br>Plan 1 size:	<%= @plan1s.count %>
<br>Plan 2 size:	<%= @plan2s.count %>
<br>Plan 3 size:	<%= @plan3s.count %>
<br>Budget size:	<%= @budgets.count %>
</p>
TODO:
Create a cucmber spec that will run this code
